<template>
  <div>
    
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  name: '',
  data () {
    return {
    }
  },
  computed: { 
  },
  methods: {
  },
  components:{
  }
}
</script>

<style lang="less" scoped>

</style>